[project]
name = "worm"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "aiodns>=3.5.0",
    "aiohttp>=3.12.15",
    "beautifulsoup4>=4.14.2",
]
